<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head">
</head>
<body>
<div th:include="layout :: navigationPanel"></div>
<h1>Edytuj profil:</h1>
<form th:action="@{/editProfile}" method="POST" th:object="${user}">
    <input type="hidden" th:field="*{userid}">
    <input type="text" th:field="*{name}" placeholder="Imię"/>
    <div th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></div>
    <br>
    <input type="text" th:field="*{surname}" placeholder="Nazwisko"/>
    <div th:if="${#fields.hasErrors('surname')}" th:errorclass="error" th:errors="*{surname}"></div>
    <br>
    <input type="text" th:field="*{login}" placeholder="Login"/>
    <div th:if="${#fields.hasErrors('login')}" th:errorclass="error" th:errors="*{login}"></div>
    <br>
    <input type="password" th:field="*{password}" placeholder="Hasło"/>
    <div th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"></div>
    <br>
    <button type="submit">Edytuj</button>
    <br>
    <button type="button" onclick="history.go(-1)">Anuluj</button>
</form>
<div th:include="layout :: footer"></div>
</body>
</html>